*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

// Create a class for flex-row
.flex-row {
  display: flex;
  flex-direction: row;

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sa {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }
}

// Create a class for flex-col
.flex-col {
  display: flex;
  flex-direction: column;

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sa {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }
}
